<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员-用户管理页面</title>
</head>
<body>
    <h1>Hello 管理员 {{username}}</h1>
    <h2>以下是所有用户信息</h2>
    <!--<div>{{users}}</div>-->
    <div class="user-container">
    {% for u in users %}
        <div class="user-cell">
            <span>用户 id ：{{ u.id }}</span>
            <br>
            <span>用户名：{{ u.username }}</span>
            <br>
            <span>用户密码：{{ u.password }}</span>
            <br>
        </div>
    {% endfor %}
    </div>
    <br>
    <h2>修改以下用户密码：</h2>
        <form action="/admin/update_user_password" method="post">
            <input name="id" placeholder="id" value="{{id}}">
            <input name="password" placeholder="password" value="{{password}}">
            <br>
            <button type="submit">提交修改</button>
        </form>
    <h3>{{result}}</h3>
</body>
</html>
